
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}



 img {
	/* max-width: 100%; */
	height: auto;
}


.container {
	width: 1260px;
  max-width: 100%;
  height:auto;
	padding: 20px;
	margin: 0 auto;
}


.logo {

  margin-right:10px;
}


.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


.main-nav ul {
	margin: 1em 0 .5em;
  text-align: center;
  
}
.main-nav li {
  display: inline;
}
.main-nav a {
	display: inline-block;
  padding: .5em 1.5em;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color:rgb(13, 13, 117);
}

.main-nav a:hover {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.15);  
}

.main-nav a {
  -webkit-transition: all 0.4s linear;
          transition: all 0.5s linear;
}


 .bordered-link {
   margin-left:150px;
   color:orangered !important;
   font-size:20px !important;
   border:2px solid orangered;
   border-radius: 4%;
   transition-duration: 0.6s;
   cursor: pointer;
   padding: 20px ;
 }

 .bordered-link:hover {
  background-color: rgb(19, 21, 107);
  color: white;

}



.orange-link {
  color:orangered !important;
}

 @media (min-width: 960px) {
	.main-header .container  {
		justify-content: space-between;
	}
}

/** HEADER END **/

.main-block {

  width: 100%;
  max-width: 100%;
  position: relative;
  height:1000px;

}

.text-areas {

  position: absolute;
  z-index: 1;
  padding: 20px;
  top:180px;
  left:70px;
  width: 50%;
  min-height: 400px;

}

.text-areas p {
  
  display: flex;
  align-items: center;
  font-size:21px;
  color:orangered;
  font-style: italic;
  font-family:Miama;
  margin-bottom: 20px;

}

p:before {
  content: '';
  width: 28px;
  height: 1px;
  background: orangered;
  margin: 0 10px;
}

.text-areas h1 {

  font-size:58px;
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(7, 7, 110);
}

.text-areas h2 {
  margin-top:15px;
  font-size:15px;
  font-weight: 500;
  line-height: 25px;
  color:rgb(166, 166, 180);
}

.text-areas h3 {
  margin-top:65px;
  font-size:20px;
  font-weight: 700;
  color:rgb(7, 7, 110);
}


.sign-form {

  margin-top:10px;
  width: 700px;
  height:130px;
  z-index: 1;
  background:white;
  border:3px solid white;
  box-shadow: 0 0 3px rgb(201, 194, 194);
  border-radius: 3%;
}

input {
  outline: 0;
  padding-top:50px;
  padding-left:5px;
  margin-left:40px;
  font-size:18px;
  border-width: 0 0 1px;
  border-color: rgb(199, 199, 209);
}
input:focus {
  border-color:orangered;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: rgb(12, 12, 94);
  font-size: 18px;
  font-weight: 600;
  padding: 20px 70px;
  margin-left:100px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: rgb(11, 10, 70); 
  color: rgb(247, 247, 247); 
  border-radius: 4%;
  border: 2px solid rgb(14, 9, 71);
}

.button2:hover {
  background-color: orangered;
  color: white;
}


.background_1 {
  
  width: 65%;
  max-width: 100%;
  position: relative;
  left:10px;
  padding: 0px;
  float:right;
  background:#e9ebec;
  border:3px solid #e6e8e8;
  border-radius: 1%;
 
}

.background_1 img {
  padding-left:200px ;

}

.fa {
  margin-left:40px;
}

/** END MAIN CONTAINER **/

.container-2 {
	width: 100%;
  max-width: 100%;
	padding: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexbox {
  display:flex;
  width: 90%;
  flex-direction: row;
}

.text-bottom {
  padding: 20px;
  margin-top:180px;
  margin-left:70px;
  width: 70%;
  height:500px;
}

.text-bottom p {
  display: flex;
  align-items: center;
  font-size:21px;
  color:orangered;
  font-style: italic;
  font-family:Miama;
  margin-bottom: 20px;

}

p:before {
  content: '';
  width: 28px;
  height: 1px;
  background: orangered;
  margin: 0 10px;
}
.text-bottom h1{
font-size:58px;
font-weight: 700;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:rgb(7, 7, 110);
}

.image-ball {
  width: 30%;
  margin-left:10px;
}


.block {

  display:flex;
  height: 380px;
  width: 100%;
  padding-left:100px;
  text-align:justify;
  line-height: 25px;
  justify-content: space-around;
}

.text-1 {

  width: 40%;
  color:rgb(128, 122, 122);
  font-size:17px;
}

.text-2   {
  color:rgb(109, 105, 105);
  width: 25%;
  font-size:17px;
  
}

.text-3 {
  
  font-size:150px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 100px 30px;

}

.number_text {

  width: 22%;
  border:8px solid rgb(218, 216, 216);
  border-radius: 1%;
  color:rgb(218, 216, 216);
}

.number_text h3 {

  font-size:25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  padding-left:50px;
  padding-bottom:100px;

}

.service-container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:50px;
  padding: 40px 200px;
}

.service-picture img {
  border-radius: 5%;
}

.services-str {
 z-index: 1;
  text-align: center;
  transition: box-shadow .7s;
  font-size:60px;
  font-weight: 550;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(19, 19, 104);
}

.container-3 {
	width: 100%;
  max-width: 100%;
	padding: 20px;
  /* margin-left:40px; */
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}




.stat-num {

  display:flex;
  flex-direction: column;

}

.static {
  width: 600px;
  height: 200px;
  padding: 30px;
  margin:30px;
  border-bottom: 1px solid rgb(207, 200, 200);
 
}


.text-bottom img {

  padding-top:200px;
}



.static h2 {

  color:orangered;
  font-size:72px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;

}

.static h3 {
  padding: 20px;
  color:gray;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:20px;
  font-weight: 500;
  
}

@media screen and (max-width: 960px) and (max-width: 768px) , (max-width: 1024px) {
  .background_1 {
    width: 100%;
  }
}

@media screen and (max-width: 960px) and (max-width: 768px) , (max-width: 1024px) {
  .text-areas {
    display:block;

  }
}



.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-shadow: 2px 2px #ff0000;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: rgb(245, 218, 218);
  font-size: 19px;
  text-shadow: 2px 2px #3f423f;
  
}
.fadeIn-top{
  top: 20%;
}
